In [1]:
# Import dependencies
import os
import csv
import pandas as pd

In [2]:
# Create the connection to the csv file with source data
Original_file = 'Resources/election_data.csv'

# Create a Pandas DataFrame that will enable the csv file data to be more easily manipulated
Candidates_df = pd.read_csv(Original_file)

# Print the first row of the dataset
Candidates_df.head()

   Ballot ID     County                Candidate
0    1323913  Jefferson  Charles Casper Stockham
1    1005842  Jefferson  Charles Casper Stockham
2    1880345  Jefferson  Charles Casper Stockham
3    1600337  Jefferson  Charles Casper Stockham
4    1835994  Jefferson  Charles Casper Stockham

In [3]:
Total_votes = Candidates_df["Ballot ID"].count()
print(Total_votes)

369711

In [4]:
vote_counts = Candidates_df["Candidate"].value_counts()
vote_counts.head()

Diana DeGette              272892
Charles Casper Stockham     85213
Raymon Anthony Doane        11606
Name: Candidate, dtype: int64

In [5]:
Candidates_df["Vote_Perc"] = ((1 / Total_votes)*100)

In [6]:
Candidates_df.head()

   Ballot ID     County                Candidate  Vote_Perc
0    1323913  Jefferson  Charles Casper Stockham    0.00027
1    1005842  Jefferson  Charles Casper Stockham    0.00027
2    1880345  Jefferson  Charles Casper Stockham    0.00027
3    1600337  Jefferson  Charles Casper Stockham    0.00027
4    1835994  Jefferson  Charles Casper Stockham    0.00027

In [7]:
C_Votes_Perc = Candidates_df["Vote_Perc"].sum()

In [10]:
New_Data_df = pd.DataFrame({"Votes": vote_counts, "Perc" :C_Votes_Perc})

New_Data_df.head()

                          Votes   Perc
Diana DeGette            272892  100.0
Charles Casper Stockham   85213  100.0
Raymon Anthony Doane      11606  100.0